<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon (click)="openMenu()" name="menu-outline"></ion-icon>

    </ion-buttons>

    <ion-title><h3>Cultivo</h3></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="text1">
    <center><h2 >Siembra o trasplante.</h2></center>
    <p align="justify" >El momento oportuno para el trasplante es en la entrada de la época lluviosa, o en  cualquier mes si hay provisión de riego, para asegurar a la planta la humedad necesaria para su establecimiento.</p>

    <img src="../assets/Images/Cultivo1.jpeg">

    <br>
    <br>
    <br>
    <br>

    <center><h2 >Distancia de siembra</h2></center>

    <div class="text2">
      <p align="justify">Cuando se siembra en terrenos con pendiente, se debe sembrar a tresbolillo, sistema que permite una mayor cantidad de plantas/ha, a la vez que disminuye la erosión de los suelos.</p>
      <p align="justify">Si se siembra en terrenos planos, puede usarse un marco real (cuadro) o rectangular. La distancia de siembra es variable, pero las más usuales son las que se describen en el siguiente cuadro.</p>
      <p align="justify">Densidad de plantas por hectárea de acuerdo a los distanciamientos más empleados. SAG-PRONAGRO.</p>
      <img src="../assets/Images/Cultivo2.jpeg">

      <br>
      <br>
      <br>
      <br>

    </div>

    <center><h2 >Tiempo de crecimiento del árbol  </h2></center>
    <div class="text2">
      <p align="justify" >Se espera que los limoneros maduros florezcan en aproximadamente un año. </p>
      <p align="justify" >El momento de las cosechas principales depende en gran parte de la variedad cultivada, el clima y las condiciones de crecimiento. </p>
      <p align="justify" >Generalmente, los limoneros brotados comienzan a dar frutos el tercer año posterior a su plantación. Los árboles que crecen de las semillas también darán frutos eventualmente, pero tardarán aún más. </p>
      <p align="justify" >Cualquiera sea el caso, cuanto más grande sea el tamaño del árbol mayor será la producción de frutos.</p>


      <img src="../assets/Images/Cultivo3.jpeg">
      <br>
      <br>
      <br>
      <br>

    </div>

    <center><h2 >Como cuidar un arbol de limon  </h2></center>
    <div class="text2">
      <p align="justify" >1.- Plantar semillas de limón. Hazlo en una maceta de 30 cm de diámetro con un suelo rico en nutrientes vegetales y minerales. Una vez que el suelo esté preparado, siembra una semilla y riega con agua regularmente, esperando que la planta brote. Dependiendo de la temperatura exterior, tomará de 4 a 6 semanas para que esto suceda. Una vez que alcance la altura de 15-20 cm, será el momento de replantarla.</p>
      <p align="justify" >2.- Asegúrate de que la planta esté expuesta a la luz durante al menos 6-8 horas al día. La planta también debe estar protegida del viento y corrientes de aire. Para esto es preferible colocarla cerca de las paredes exteriores de la casa, a lo largo de los lados soleados.</p>
      <p align="justify" >3.- Cuando llegue el invierno y haga frío, es bueno proteger la planta para protegerla de las heladas. Puedes ponerlo bajo un dosel o cerrarlo en un invernadero real</p>
      <p align="justify" >4.- El cuidado de tu limonero pasará también por un buen proceso de fertilización. En este sentido serán necesarios el nitrógeno, fósforo y potasio (que de hecho son buenos para la salud de cualquier cítrico). La fertilización es crucial en un momento en que los frutos maduran, y de manera regular en otros momentos del año y sobre todo en primavera.</p>
      <p align="justify" >5.- En cuanto a la poda, el limonero se puede podar solo una vez al año, antes de la floración. Entonces, el momento ideal para hacerlo es a finales del invierno y principios de la primavera, entre febrero y marzo. Es bueno hacer una poda no vigorosa, pero simplemente adelgaza las ramas, eliminando las que tengan partes dobladas y/o secas. Lo importante es que, al final de la poda, el aire y la luz circulen por todos los lados.</p>
      <p align="justify" >6.- En lo que respecta al riego. El limón es un tipo de planta que se debe regar regularmente, pero evitando la formación de agua estancada. Para ello riega la planta todos los días, asegurándote de que la tierra esté siempre húmeda, pero sin exagerar. Durante el período de floración y formación de frutos, deberás aumentar la intensidad del riego, ya que la planta necesitará más agua. </p>
      <p align="justify" >7.- Para obtener más flores y frutas, es recomendable realizar un injerto. La primavera es el mejor memento para hacerlo. </p>
      <p align="justify" >8.- Parásito más insidioso para un limonero, hay que mencionar los hongos, que podrían dejar sus ramas y hojas secas y amarillas. Para salvar la planta es necesario podar las ramas y eliminar las hojas enfermas. Luego hay otro tipo de hongo que golpea la corteza del árbol de limón, generando formaciones gomosas oscuras que se extienden hasta las raíces haciéndolas que se pudran. Para eliminarlos tienes que eliminar las partes de la corteza enferma y, sobre las heridas, colocar algunas sales de cobre. Para vencer a las chinches, sin embargo, debes eliminar la pátina que se crea en las ramas y pasar alcohol con una bola de algodón.</p>
      <img src="../assets/Images/Cultivo4.jpeg">
      <br>
      <br>
      <br>
      <br>

    </div>


    <center><h2 >Tiempo de crecimiento del limon</h2></center>
    <div class="text2">
      <p align="justify" >Los limones tardan aproximadamente entre 4 y 12 meses desde primer florecimiento para poder ser cosechados.</p>
      <p align="justify" ></p><p align="justify" ></p>
      <p align="justify" ></p><p align="justify" ></p>
      <p align="justify" ></p>
      <p align="justify" ></p>

      <img src="../assets/Images/Cultivo5.jpeg">
      <br>
      <br>
      <br>
      <br>

    </div>

    <center><h2 >Cuantas veces da frutos el arbol de limon al año</h2></center>
    <div class="text2">

      <p align="justify" >Este árbol suele tener 3 cosechas al año, sin embargo, en climas como la Ciudad de México, el limonero llega a dar frutos durante las cuatro temporadas. El limón necesita de hasta 12 horas de luz solar al día para crecer.</p>


      <img src="../assets/Images/Cultivo6.jpeg">
      <br>
      <br>
      <br>
      <br>

    </div>


    <center><h2 >Cosecha de limon</h2></center>
    <div class="text2">

      <p align="justify" >Aunque los frutos suelen tener gusto antes de cambiar de color, los limones se ponen amarillentos cuando maduran. </p>
      <p align="justify" >En teoría, los frutos deben medir entre 2,12 y 2,5 pulgadas (5,3 y 6,3 cm). Evita los limones demasiado ásperos o mojados para reducir las manchas de aceite.</p>
      <p align="justify" >Comercialmente, los limones se recogen con pinzas o, si esto fuera muy costoso, se cosechan al mismo tiempo. </p>
      <p align="justify" >La fruta cosechada en masa se clasifica fresca para procesarla o venderla. Las frutas demasiado pequeñas se desechan.</p>

      <img src="../assets/Images/Cultivo7.jpeg">
      <br>
      <br>
      <br>
      <br>

    </div>
  </div>





</ion-content>
