
<ion-content>

  <ion-img class="imagen" src="..\assets\Images\Login.png"></ion-img>

<ion-card mode="ios">
  <ion-card-content>
    <ng-form>
      <ion-item><ion-input type="text" mode="ios" placeholder="Usuario"> </ion-input></ion-item>
      <ion-item><ion-input type="password" mode="ios" placeholder="Contraseña"> </ion-input></ion-item>
      <ion-button [routerLink]="['/home']" class="ion-margin-top" expand="block" (click)="login()">Entrar</ion-button>
    </ng-form>
  </ion-card-content>
</ion-card>
</ion-content>
