
.text1{
  position: absolute;
  right: 23px;
  left: 23px;


}
.text2{

  right: 23px;
  left: 23px;


}
h2{
  position: center;
  color:Green;

  text-decoration-style: wavy;
  border-style: double;
  font-weight: bold;

}
h3{
  position: center;
  color:saddlebrown;

  text-decoration-style: wavy;

  font-weight: bold;

}
