<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon (click)="openMenu()" name="menu-outline"></ion-icon>

    </ion-buttons>

    <ion-title><h3>Tipo de tierra</h3></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="text1">
    <center><h2 >Altitud y suelo</h2></center>
    <p align="justify" >En cuanto a altitud deben considerarse alturas que oscilen entre los 50 y 1,500 msnm, este factor interviene directamente en la apariencia física del producto ya que a mayor altitud la consistencia es rugosa y la coloración se torna verde intensa, contrariamente a menor altitud la consistencia se torna lisa y la coloración es verde en tono menos intenso (más claro).</p>
    <p align="justify" >El Limón persa se desarrolla comercialmente en un amplio rango de suelos; pero crece mejor en suelos profundos y bien drenados, con alto contenido de materia orgánica (3 a 6%), acepta muy bien las texturas arenosas, pero hay que evitar sembrar en suelos arcillosos. </p>
    <p align="justify" >Los suelos para este cultivo deben tener buena capacidad de cambio catiónico, de manera que puedan suplir a este cultivo los elementos químicos necesarios para su buen desarrollo. </p>
    <p align="justify" >El pH requerido varía de 5.6 a 6.8. Los suelos para la producción de Limón persa deben ser profundos (60 cm o más de profundidad efectiva), con un buen drenaje. </p>
    <p align="justify" >Debe proveerse de riego auxiliar en verano para garantizar una buena cosecha. </p>
    <p align="justify" >El crecimiento y la productividad del árbol estarán determinados por el tipo de suelo donde se establezca la plantación y la fertilización; aunque también influye el nivel técnico de la plantación y las condiciones climáticas.  </p>



    <img src="../assets/Images/Tierra1.jpeg">


    <br>
    <br>
    <br>
    <br>

    <center><h2 >Selección del terreno</h2></center>

    <div class="text2">
      <p align="justify" >El terreno para establecer una plantación óptima, debe ser de suelos ligeros, francos arenosos o arenoso. </p>
     <img src="../assets/Images/Tierra2.jpeg">

      <br>
      <br>
      <br>
      <br>

    </div>

    <center><h2 >Preparación del terreno</h2></center>
    <div class="text2">
      <p align="justify" >La preparación del terreno es una labor que se debe practicar por lo menos con un mes de anticipación al trasplante, con el propósito de mejorar las condiciones físicas del suelo y facilitar el desarrollo normal de las raíces. Se recomienda hasta 50 cm de profundidad. </p>
      <img src="../assets/Images/Tierra3.jpeg">

    </div>
  </div>


</ion-content>
