<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon (click)="openMenu()" name="menu-outline"></ion-icon>

    </ion-buttons>

    <ion-title><h3>Aplicacion</h3></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="text1">
    <img src="../assets/Images/app1.jpg">
    <center><h2>Version 1.0.0.1</h2></center>
    <center><h2>2021</h2></center>
    <center><h2>Todos los Derechos Reservados</h2></center>

    <center><h2>Creado por:</h2></center>
    <img src="../assets/Images/app2.jpg">
  </div>
</ion-content>
