<ion-app  class="lista1">

  <ion-menu side="start" menuId="first" contentId="main"  class="lista1">
    <ion-header >
      <ion-toolbar  >
        <ion-item routerLink="/home" color="transparente"  class="lista3">
          <ion-icon name="home-outline" slot="start" ></ion-icon>
          <h3>Inicio</h3>
        </ion-item>
      </ion-toolbar>
    </ion-header>
    <ion-content >
      <ion-list class="lista">
        <ion-menu-toggle>
          <ion-item routerLink="/plagicidas">
          <ion-icon name="caret-forward-outline" slot="start" ></ion-icon>
          <ion-label>Plagicidas</ion-label>
        </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
        <ion-item routerLink="insecticidas">
          <ion-icon name="caret-forward-outline" slot="start" ></ion-icon>
          <ion-label>Insecticidas</ion-label>
        </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
        <ion-item routerLink="fertilizantes">
          <ion-icon name="caret-forward-outline" slot="start" ></ion-icon>
          <ion-label>Fertilizantes</ion-label>
        </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
        <ion-item routerLink="cultivo">
          <ion-icon name="caret-forward-outline" slot="start" ></ion-icon>
          <ion-label>Tipo de Cultivo</ion-label>
        </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
        <ion-item routerLink="tierra">
          <ion-icon name="caret-forward-outline" slot="start" ></ion-icon>
          <ion-label>Tipo de tierra</ion-label>
        </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
        <ion-item routerLink="aplicacion">
          <ion-icon name="caret-forward-outline" slot="start" ></ion-icon>
          <ion-label>Aplicacion</ion-label>
        </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
        <ion-item routerLink="nosotros">
          <ion-icon name="caret-forward-outline" slot="start" ></ion-icon>
          <ion-label>Acerca de nosotros</ion-label>
        </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
        <ion-item routerLink="login">
          <ion-icon name="caret-forward-outline" slot="start" ></ion-icon>
          <ion-label>Cerrar sesion</ion-label>
        </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
