<ion-header [translucent]="true">


  <ion-toolbar>


    <ion-buttons slot="start">
      <ion-icon (click)="openMenu()" name="menu-outline"></ion-icon>

    </ion-buttons>


    <ion-title>

      <h3>Inicio</h3>

    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content >

  <div class="text1">
    <center><h2 >Introduccion del Limon</h2></center>
    <p align="justify" >El limón es un cítrico del genero Citrus de la familia de las Rutáceas que está presente en gran parte del mundo, por esa razón existe una gran variedad de este cítrico entre las cuales destacan: Verna, Fino o Primofiori, Eureka y Libón.</p>
    <p align="justify" > Entre las diferencias que relucen se pueden encontrar: su contenido de zumo, textura, grosor de la corteza, color, presencia o no de semillas. Sin embargo en el mundo existen dos variedades que son las más comercializadas y son conocidas  como limas ácidas, son: el limón Tahití o Persa (Citrus latifolia) y el limón mexicano o criollo (Citrus aurantifolia); esta dos variedades son las más populares en Honduras y están diferenciadas en cuanto a acidez y a la presencia de semillas; el limón Tahití o persa no contiene semillas y es menos acido que el limón mexicano o criollo.</p>
  <img src="../assets/Images/Inicio1.jpeg">

    <br>
    <br>
    <br>
    <br>

    <center><h2 >Origenes y posterior</h2></center>

    <div class="text2">
      <p align="justify" >   Actualmente el limón se encuentra diseminado por toda el área mundial con clima tropical y templado, este cítrico es originario del sureste de Asia específicamente en el sur de China donde incluso se le rinde culto al fruto siendo un símbolo de felicidad. </p>
      <p align="justify" >    El cultivo de limón fue introducido a América por los conquistadores quienes fieles a este cultivo por sus propiedades para prevenir y combatir el escorbuto lo agregaban al cargamento como una de las primeras y más importantes provisiones .</p>
      <img src="../assets/Images/Inicio2.jpeg">

      <br>
      <br>
      <br>
      <br>

    </div>

    <center><h2 >Caracteristicas del limon </h2></center>
    <div class="text2">
      <p align="justify" > El limón persa se desarrolla en climas tropicales y subtropicales, debido a que este cultivo es muy sensible a las bajas temperaturas para su cultivo se requiere de una temperatura media de 28 oC..</p>
      <p align="justify">En la etapa de crecimiento es fundamental que exista un adecuado suministro de agua por lo que se hace necesario para el desarrollo de este cultivo que la precipitación pluvial oscile entre los 400 y 1,200 mm por año.</p>
      <p align="justify">Debe considerarse el uso de cortinas rompe viento en lugares donde hay fuertes vientos ya que estos pueden afectar el cultivo del limón persa por generar problemas como quebraduras en las ramas, mala formación de los árboles, caída de las hojas y las flores, así como daño en los frutos.</p>
      <p align="justify">La luz determina en gran manera la calidad de la fruta  específicamente cuando se habla de color y sabor, por lo que la exposición a la luz del sol en gran manera es necesaria y debe evitarse la siembra en laderas con orientación hacia al oeste o hacia al norte.</p>

      <img src="../assets/Images/inicio3.jpeg">

    </div>
  </div>







</ion-content>
