#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.btnexit{
  background-color: #989aa2;
  color: #121212;
  padding: 15px 20px 15px 20px;
  border-radius: 20px;



}
#botonsalir{
  position: absolute;
  right: 200px;
  left: 320px;
  top: -50%;

}

.text1{
  position: absolute;
  right: 23px;
  left: 23px;


}
.text2{

  right: 23px;
  left: 23px;


}
h2{
  position: center;
  color:Green;

  text-decoration-style: wavy;
  border-style: double;
  font-weight: bold;

}
h3{
  position: center;
  color:saddlebrown;

  text-decoration-style: wavy;

  font-weight: bold;

}
