<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon (click)="openMenu()" name="menu-outline"></ion-icon>

    </ion-buttons>
    <ion-title><h3>Acerca de nosotros</h3></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="text1">
    <center><h2 >¿Quienes somos?</h2></center>
    <p align="justify" >Somos una empresa de desarrollo de software con tal de apoyar a la sociedad  y a las micro empresas con tal de agilizar su productividad a través de programas tanto web como móvil.
      Así mismo agilizamos la económica local, haciendo uso del internet de las cosas, la utilización de equipos de computo y dispositivos móviles.</p>
    <img src="../assets/Images/app2.jpg">

    <br>
    <br>
    <br>
    <br>

    <center><h2 >Objetivo general</h2></center>

    <div class="text2">
      <p align="justify" >Desarrollar una aplicación móvil basado en Groovy y Grails y un poco de Angular para citricultores que contenga los métodos de sembrado, la operación del cultivo y la comercialización de materiales agropecuarios enfocado a las colonias de que colindan con Martínez de la Torre.</p>
      <br>
      <br>
      <br>
      <br>

    </div>


  </div>
</ion-content>
